/* font import */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Monoton&family=Nanum+Brush+Script&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: 'Sour Gummy';
}

.topLinks {
  overflow: hidden;
  background-color: #4E282E;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}


/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  background-color: #4E282E;
  position: absolute;
  right: 0;
  top: 50px;
  width: 200px;
  text-align: right;
  font-size: xx-large;
}

.topnav #myLinks a:hover{
    background-color: white;
    color: black;
}

/* Style navigation menu links */
.topLinks > a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #4E282E;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: xx-large;
  color: white;
  padding-right: 5px;
  padding-top: 5px;
}

/* Add a white background color on mouse-over */
.topLinks a:hover {
  background-color: white;
  color: black;
}

#myLinks a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    background: linear-gradient(to bottom right, maroon, 45%, gold);
    padding-bottom: 17px;
    min-height: calc(100vh - 50px);
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 3em; 
}

.sectionTitle {
  font-weight: bold;
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}
/* rolling credits animation */
.creditsWrapper {
    height: 500px; 
    overflow: hidden;
    position: relative;
    /* background: #000; */
    
    /* The Fade Effect */
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
    );
}

/* 2. The Scrolling Text */
.scrollingContent {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0;
    font-family: sans-serif;

    animation: movieCredits 60s linear infinite;
}
/* Better animation using transform */
@keyframes movieCredits {
    0% {
        transform: translateY(0);
    }
    90% {
      transform: translateY(-125%);
    }
    100% {
        transform: translateY(-125%);
    }
}


.thanksMessage {
  font-weight: bold;
  font-size: 2.5em;
}



.socialTags{
    display: flex;
    align-items: center;
    gap: 20px
}

footer{
    background-color: #4E282E;
    display: flex;
    color: white;
    padding-top: 10px;
    justify-content: space-evenly;
    padding-bottom: 5px;
    align-items: center;
    font-size: large;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
    text-decoration: none;
    color: white
}
.socials{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}