/* font import */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Monoton&family=Nanum+Brush+Script&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0 auto;
    font-family: 'Sour Gummy';
}
/* Style the navigation menu */
.topLinks {
  overflow: hidden;
  background-color: #4E282E;
  position: relative;
  display: flex;
  flex-direction: row;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  background-color: #4E282E;
  position: absolute;
  right: 0;
  top: 50px;
  width: 200px;
  text-align: right;
  font-size: xx-large;
}

.topnav #myLinks a:hover{
    background-color: white;
    color: black;
}

/* Style navigation menu links */
.topLinks > a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #4E282E;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: xx-large;
  color: white;
  padding-right: 5px;
  padding-top: 5px;
}

/* Add a white background color on mouse-over */
.topLinks a:hover {
  background-color: white;
  color: black;
}

#myLinks a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px;
    background: linear-gradient(to bottom right, maroon, 45%, gold);
    padding-bottom: 17px;
    min-height: calc(100vh - 50px);
}

h1 {
  display: flex;
  justify-content: center;
  margin: 25px;
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
  margin-bottom: 15px;
}

p {
  font-size: 1.5em;
  margin-top: 15px;
}

.gameRules img {
  width: 400px;
  height: 400px;
}

.gameRules img:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.characterGuesser , .environmentGuesser , .soundtrackGuesser{
  max-width: 400px;
}

.gameRules {
  display: flex;  
  width: 100vw;
  margin-bottom: 100px;
  justify-content: space-evenly;
}



/* Style the active link (or home/logo) */
.active {
  background-color: #4E282E;
  color: white;
}
footer{
    background-color: #4E282E;
    display: flex;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    align-items: center;
    font-size: large;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
    text-decoration: none;
    color: white
}
.socials{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}